.songRow {
    margin-left: 5px;
    margin-right: 15px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    color: white;
}

.songRow .songPicture_andName {
    /* background-color: red; */
    display: flex;
    align-items: center;
    flex: 0.5;
}

.songRow .songAlbum {
    /* background-color: yellow; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 150px;
    flex: 0.3;
}

.songRow .songDuration {
    /* background-color: skyblue; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
    flex: 0.2;
}

.songRow:hover {
    cursor: pointer;
    background-color: black;
    opacity: 0.8;
}

.songRow__info {
    margin-left: 20px;
}

.songRow__info > h1 {
    font-size: 16px;
}

.songRow__info > p {
    font-size: 14px;
    margin-top: 3px;
    color: gray;
}

.songRow__album {
    height: 40px;
    width: 40px;
}